doctype html
html(lang='en')
    head
        title LX Project Server
    body
        h3 Table of Contents
        p Swagger API doc: 
            a(href= api_uri)= api_uri
        p Ethereum Netstats Monitor: 
            a(href= netstats_uri)= netstats_uri
        p Ethereum Explorer Monitor: 
            a(href= explorer_uri)= explorer_uri